/* IMPORTAÇÃO DAS FONTES */
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* FORMATAÇÃO DAS DIVS BÁSICAS */

body{
    font-family: 'Roboto', sans-serif;
}

div#page{
    overflow: hidden;
    width: 100%;
    margin: -8px -8px 0px -8px;
    padding-right: 22px;
}

ul{
    width: 100%;
    list-style: none;
    margin-left: -47.6px;
    margin-top: -8px;
    margin-bottom: 0px;
}

ul a{
    color: white;
    text-decoration: none;
}

ul li{
    background-color: #27ae60;
    padding: 55px 28px;
    width: 98%;
    margin: auto;
    border-bottom: 2px solid #fff;
}

ul li:hover{
    background-color: rgba(39, 174, 95, 0.8);
}

img.direita{
    float: right;
    margin: -3px 0px 0px 0px;
}

img.esquerda{
    float: left;
    margin-top: -7px;
    

}

h3{
    margin-left: 50px;
    display: inline;
}
