/* IMPORTAÇÃO DAS FONTES */
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* FORMATAÇÃO DAS DIVS BÁSICAS */

body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    margin-left: -46px;
    margin-top: -5px;
    margin-bottom: 0px;
}

ul a{
    color: white;
    text-decoration: none;
}

ul li{
    background-color: rgb(8, 92, 8);
    border-bottom: 1px solid black;
    padding: 30px 10px;
    width: 99%;
    margin: auto;
}

img.direita{
    float: right;
    margin: -3px 0px;
}

img.esquerda{
    float: left;
    margin-top: -7px;

}

h3{
    margin-left: 50px;
    display: inline;
}
