
/* Pegando a fonte do Google Fontes */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Formatação do body */

body{
     font-family: 'Open Sans', sans-serif;
     background-color: grey;
     text-align: justify;
}

/* Formatação da area da página */

div.pagina{
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
width: 300px;
height: 330px;

}

div#pagina2{
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
    width: 300px;
    height: 330px;
    margin-top: 35px;    
}

/* Formatação da area da imagem */

div.imagem{
padding-bottom: 0px;
width: 300px;
height: 168px;

}

/* Formatação da area da noticia */

div.noticia{
width: 283px;
height: 54px;

}

div.noticia a{
    text-decoration: none;
}

div.noticia h2{
    
 margin-top: 0px;
    margin-left: 8px;
color: #b5000d;
font-size: 16px;

}

div.noticia p{
    margin-left: 8px;
color: #333333;
font-size: 14px;
font-style: none;

}

div.header p.p{
    margin-top:5px;
    margin-left: 8px;
    float: top;
    font-size: 16px;
    margin-bottom: 5px;
    color:#333333;
    font-style: bold;
}

div.header span.h{
    margin-left: 8px;
    margin-bottom: 5px;
   color: #999999;
    font-size: 11px;
    
}

/* link: http://bit.ly/pm-proj002-noticia */