
/* Pegando a fonte do Google Fontes */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Formatação do body */
body{
    background-color: #E6E6E6;
    font-family: 'open-sans', sans-serif;
    font-size: 14px;
}
    
    div.info{
        width: 302px;
        background-color: #fff;
        border-radius: 0 0 2px 2px;
        padding-bottom: 15px;
        margin:0px auto 50px auto;
    }

    div.info img{
        width: 302px;
        height: 168px; 
        border-radius: 2px 2px 0px 0px ;

    }

    h3{
        opacity: 0.8;
        text-transform: uppercase;
        font-size: 14px;
        padding: 0px 10px;
    }

    h3 small{
        font-size: 11px;
        opacity:0.4;
        margin-left: 10px;
    }

    p{
        text-align: justify;
        padding: 0px 10px;
       
    }

    p.p1{
        
        font-weight: bolder;
        font-size: 16px;
    }

    p.p1 a{
        text-decoration: none;
        color: #b5000d;
    }

    p.p2{
        color: #333333;
        opacity:0.7;
    }

/* link: http://bit.ly/pm-proj002-noticia */